.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 7px;
}

.div1 {
  /* grid-column: 1/2;
  grid-row: 1/2; */
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  /* grid-column: 2/3;
  grid-row: 1/2; */
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  /* grid-column: 1/2;
  grid-row: 2/3; */
  grid-area: 2 / 1 / 3 / 2;
}
.div4 {
  grid-column: 2/3;
  grid-row: 2/3;
  /* grid-area: 2 / 2 / 3 / 3; */
}
.div5 {
  grid-area: 3 / 1 / 4 / 2;
}
.div6 {
  grid-area: 3 / 2 / 4 / 3;
}
