.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  /* position: relativ/e; */
}

.div1 {
  /* grid-area: 1 / 1 / 2 / 2; */
  animation: fade 5s 1s infinite alternate both;
  grid-column: 1/2;
  grid-row: 1/2;
  /* position: absolute; */
  top: 0;
  left: 0;
}
.div2 {
  /* grid-area: 1 / 1 / 2 / 2; */
  grid-column: 1/2;
  grid-row: 1/2;
  /* position: absolute; */
  top: 0;
  left: 0;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
