.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 7px;
}

.div1 {
  /* grid-area: 1 / 1 / 2 / 2; */
  grid-row: 1/2;
  grid-column: 1/2;
}
.div2 {
  grid-row: 1/2;
  grid-column: 2/3;
  /* grid-area: 1 / 2 / 2 / 3; */
}
.div3 {
  grid-row: 2/3;
  grid-column: 1/2;

  /* grid-area: 2 / 1 / 3 / 2; */
}
.div4 {
  grid-area: 2 / 2 / 3 / 3;
}

.parent2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 7px;
  grid-row-gap: 7px;
}

.div5 {
  grid-area: 1 / 1 / 2 / 2;
}
.div6 {
  grid-area: 1 / 2 / 2 / 3;
}
.div7 {
  grid-area: 2 / 1 / 3 / 2;
}
.div8 {
  grid-area: 2 / 2 / 3 / 3;
}
.div9 {
  grid-area: 3 / 1 / 4 / 2;
}
.div10 {
  grid-area: 3 / 2 / 4 / 3;
}
.div11 {
  grid-area: 4 / 1 / 5 / 2;
}
.div12 {
  grid-area: 4 / 2 / 5 / 3;
}
.div13 {
  grid-area: 5 / 1 / 6 / 2;
}
.div14 {
  grid-area: 5 / 2 / 6 / 3;
}
