@import "tailwindcss";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: serif;
}

html,
body,
#__next {
  overflow: hidden;
  max-width: 100%;
}
