.glass {
  background: rgba(255, 255, 255, 0.35);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.175);
}

.clip {
  clip-path: circle(50% at 50% 50%);
}
